<h1>Pick a Challenge...</h1>
<br>
<div class="card text-white bg-info mb-3" style="max-width: 60rem;">
  <div class="card-body">
    <h4 class="card-title">Prompt</h4>
    <p class="card-text">Choose a prompt from the list to get started!</p>
  </div>
</div>
