<%= render PairWeb.ChallengeView, "_challenge_card.html", assigns %>

<div class="row">
  <%= render PairWeb.ChallengeView, "_challenge_theme.html", assigns %>
  <%= render PairWeb.ChallengeView, "_challenge_language.html", assigns %>
</div>

<%= render PairWeb.ChallengeView, "_challenge_editor.html", assigns %>
